.searchContainer{
    text-align:center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
body{
  background-image: url("backdrop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.mainsearch{
    font-size:150%;
    font-family: 'Cabin', sans-serif;
    border: 4px solid #3dc2d4;
    border-radius: 4px;
    padding:10px;
    width: 40%;
}
p{
color:aqua;
font-family: 'Cabin', sans-serif;
font-size:200%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}